
HTTP_SERVER_HOST=127.0.0.1
HTTP_SERVER_PORT=5141

WORLDS_PG_CONNECTION_STRING="postgresql:///worlds?host=<RUN_DIR>&port=5433&user=<DB_USER>&password=<DB_PASSWORD>"

HTTP_BASE_URL="https://worlds.example.com"

NETWORK_ID=1


CONTENT_PUBLIC_URL="https://peer.decentraland.org/content"
LAMBDAS_PUBLIC_URL="https://peer.decentraland.org/lambdas"

LIVEKIT_HOST="<HOST>"
LIVEKIT_API_KEY="devkey"
LIVEKIT_API_SECRET="devsecret"
LIVEKIT_WEBHOOK_KEY=""
MAX_USERS_PER_WORLD=100

CONTENTS_UPSTREAM_URL="https://worlds-content-server.decentraland.org"




RUST_LOG=catalyrst_worlds=info,tower_http=info
