.scene-bd {
  position: fixed;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
  background:
    radial-gradient(58% 36% at 56% 42%, rgba(132, 64, 60, .46) 0%, rgba(132,64,60,0) 62%),
    linear-gradient(180deg, #1f1622 0%, #241420 34%, #34121a 46%, #240b10 60%, #160609 100%);
}
